<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <script src="jquery-1.12.0.min.js"></script> -->
	<link rel="stylesheet" href="__ADMIN__/jfu/css/jquery.fileupload.css">
	<link rel="stylesheet" href="__ADMIN__/jfu/css/jquery.fileupload-ui.css">
	<link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
	<script src='__ADMIN__/assets/js/jquery-2.0.3.min.js'></script>
    <script src="__ADMIN__/jfu/js/vendor/jquery.ui.widget.js"></script> 
    <script src="__ADMIN__/jfu/js/jquery.iframe-transport.js"></script>
    <script src="__ADMIN__/jfu/js/jquery.fileupload.js"></script>
    <script src="__ADMIN__/jfu/js/cors/jquery.xdr-transport.js"></script>
    <style type="text/css">
        .bar {
            margin-top:10px;
            height:10px;
            max-width: 370px;
            background: green;
        }
    </style>
</head>
<body>

<!-- 	<span id="thumb_upload" class="btn btn-primary fileinput-button">
	<span>上传</span>
		<input id="fileupload" type="file" name="files[]" multiple>  
	</span>
    <span class="proportion"></span> -->  
    <!-- 上传进度条及状态： -->  
    <!-- <div class="progress">  
        <div class="bar" style="width: 0%;"></div>  
        <div class="upstatus" style="margin-top:10px;"></div>  
    </div>   -->
      
    <!-- 预览框： -->     
    <!-- <div class="preview" style="margin-top:20px;"></div>   -->

    <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right" for="thumb"> 商品缩略图 </label>

		<div class="col-xs-4">
		<!-- <img src="__ADMIN__/assets/images/upload.png" id="img" name="img" width="130"> -->
		<div class="progress">
			<div id="thumb_progress" class="progress-bar" style="width:0%;"></div>
		</div>
		<span id="thumb_upload" class="btn btn-primary fileinput-button">  
			<span>上传</span>
			<input id="goods_thumb" placeholder="" class="" type="file" name="goods_thumb[]" multiple="">
		</span>
		<a id="thumb_cancle" href="javascript:void(0)" class="btn btn-warning" role="button" onclick="cancleUpload()" style="display:none">删除</a>  
		</div>
		<div class="preview" style="margin-top:20px;"></div>
	</div>
</body>  
</html>  
<!-- <script type="text/javascript"> 
$(function(){
	$('#fileupload').fileupload({
		url: '{:url("admin/index/duotuhanddle")}',  
        dataType: "json",   
        multipart:true,  
        done:function(e,data){  
            //done方法就是上传完毕的回调函数，其他回调函数可以自行查看api  
            //注意data要和jquery的ajax的data参数区分，这个对象包含了整个请求信息  
            //返回的数据在data.result中，这里dataType中设置的返回的数据类型为json  
            if(data.result.sta) {  
                // 上传成功：  
                $(".preview").append("<div style='margin-top:10px;'><img src="+data.result.previewSrc+"></div>");  
                $(".preview").append("<div>"+data.result.msg+"</div>");  
            } else {  
                // 上传失败：  
                $(".upstatus").append("<div style='color:red;'>"+data.result.msg+"</div>");  
            }  
              
        },  
        progressall: function (e, data) {//上传进度  
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $(".progress .bar").css("width", progress + "%");  
            $(".proportion").html("上传总进度："+progress+"%");  
        }, 
    }  
);  
}) 

</script>   -->
<script type="text/javascript">
$(function() {  
    $("#goods_thumb").fileupload({  
            url: '{:url("admin/index/duotuhanddle")}',  
            sequentialUploads: true ,
            multipart:true, 
        }).bind('fileuploadprogress', function (e, data) {  
            var progress = parseInt(data.loaded / data.total * 100, 10);  
            $("#thumb_progress").css('width',progress + '%');  
            $("#thumb_progress").html(progress + '%');  
        }).bind('fileuploaddone', function (e, data) {console.log(data);
            // $("#img").attr("src",data.result);
            // $("#img").append("<div style='margin-top:10px;'><img src="+data.result.previewSrc+"></div>");  
            $(".preview").attr("src",data.result); 
            // $("#img").append("<div>"+data.result.msg+"</div>");    
            $("#thumb_upload").css({display:"none"}); 
            $("#thumb_cancle").css({display:""}); 
        });  
             
    });
</script>